// Media Queries
@tablet: ~"only screen and (min-width: 768px)";
@desktop: ~"only screen and (min-width: 992px)";

.main-content {
    .slides-wrapper {
        margin-top: 60px;

        &.admin-navbar-showing {
            margin-top: 100px;
        }

        ul {
            padding: 0;
        }

        .packery-container {
            margin-top: 60px;
        }

        li {
            color: white;
            list-style: none;
            text-align: center;
            border-bottom: 1px solid grey;

            &.slide-header {
                border-radius: 3px;
                margin-top: 20px;
                font-size: 2em;
                color: grey;
                background-color: lightgrey;
            }

            &.slide-tile {
                border: 1px solid red;
                margin: 0px;
                min-height: 215px;

                @media @tablet {
                    min-height: 250px;
                }

                input.title,
                input.desc {
                    margin-bottom: 5px;
                    height: 25px;
                }

            }

            .arrange-button {
                cursor: pointer;
                position: absolute;
                color: orange;
                top: 33%;
                left: 37%;
                font-size: 50px;
                background-color: #fff;
                border-radius: 50%;
                width: 75px;
                height: 75px;
                padding-top: 10px;

                &:active {
                    color: red;
                }
            }

            .date {
                padding-top: 10px;
                font-size: 14px;
            }

            img {
                display: none;
                margin-left: auto;
                margin-right: auto;
            }
            .image-tile {
                height: 100%;
                width: 100%;
                display: block;



                @media @tablet {
                    height: 160px;
                    width: 215px;

                }

            }

            .fullscreen-wrapper {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: black;
                z-index: 1031; // Just above bootstrap navigation
            }

            .portrait {
                width: 35.6%;

                @media @tablet {
                    width: 50%;
                }
            }

            .title {
                margin-top: 5px;
                font-size: 13px;
            }
        }
    } // .slides-wrapper

    .no-slides-found {
        width: 100%;
        height: 100%;
        margin-top: 100px;
        text-align: center;
        text-transform: capitalize;
        font-size: 20px;
        color: #fff;
    }


}
