nav {

    .logo {
        h2 {
            color: black;
            font-size: 2em;
            display: inline-block;
            margin: 0;
            padding: 0;
            cursor: pointer;
        }

        h3 {
            display: inline-block;
            margin-left: 10px;
            color: grey;
            font-size: 1em;

            &.login {
                cursor: pointer;
            }
        }
    }

    .main-navigation {
        font-size: 1.5em;
        text-align: center;

        .month-dropdown {
            text-align: center;
            text-transform: capitalize;
        }
    }

    &.admin-navbar {
        top: 55px;

        .left-block {
            p {
                display: inline-block;
            }

            button.arrange {
                display: inline-block;
                outline: none;
                margin: 8px 0 0 10px;
            }
        }
    }

}

.login-modal {
    color: #000;

    header {
        font-size: 20px;
    }
    
    .content {
        margin-top: 10px;
    }

    .invalid-userpass {
        font-size: 12px;
        color: lightcoral;
    }

}

.upload-modal {
    .drop-box {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        width: 300px;
        height: 165px;
        text-align: center;
        padding-top: 25px;
        margin: 10px;
    }

    .dragover {
        border: 5px dashed blue;
    }

    .files-to-upload {
        padding: 20px;

        .file {
            padding: 20px;
            border-bottom: 2px solid grey;
        }

        .file:last-child {
            border-bottom: none;
        }

    }


    .image-preview {
        width: 100px;
        height: 150px;
        background-color: rgba(200, 220, 220, 1);
    }
}

