<div
    class="slides-wrapper container-fluid"
    ng-class="{'admin-navbar-showing': mc.userIsAuthentic}"
    ng-if="!mc.noContentFound"

    infinite-scroll="mc.doScroll()"
    infinite-scroll-distance="1"
    infinite-scroll-disabled="mc.disableScroll">
    <!-- <ul class="row"> -->
    <!--     <li class="slide-tile col-xs-12" ng-repeat="s in mc.allSlides">{{ s.pub_date }}</li> -->
    <!-- </ul> -->
    <form name="slideForm">
        <ul class="row"
            ng-repeat="group in mc.orderedSlides">
            <li class="slide-header col-xs-12">
                {{ group.month | capitalize }} {{ group.year }}
            </li>
            <div l2-packery="mc.arrange" l2-edit="mc.edit" class="packery-container">
                <li
                    class="col-xs-6 col-sm-4 col-md-3 slide-tile"
                    data-order="{{ slide.order_id }}"
                    data-pk=" {{ slide.pk }}"
                    ng-repeat="slide in group.monthsSlides">
                    <div
                        class="arrange-button"
                        ng-if="mc.arrange">
                        <span
                            class="glyphicon glyphicon-move"
                            aria-hidden="true">
                        </span> 
                    </div>
                    <div class="date">{{ slide.displayDate }} </div>
                    <div class="image-wrapper">
                        <img
                            fullscreen-image
                            check-orientation
                            class="img-rounded"
                            ng-src="http://levsdelight.s3.amazonaws.com/img/{{ slide.pictureLocation }}" alt="">
                    </div>

                    <div
                        ng-if="!mc.edit"
                        class="title">
                        {{ slide.title }}
                    </div>
                    <input
                        ng-model="slide.title"
                        ng-show="mc.edit"
                        placeholder="Title"
                        class="title form-control"
                        type="text" />

                    <div
                        ng-if="!mc.edit"
                        class="desc hidden-xs">
                        {{ slide.desc }}
                    </div>
                    <input
                        ng-if="mc.edit"
                        class="desc hidden-xs form-control"
                        type="text"
                        placeholder="Description"
                        value="{{ slide.desc }}"/>
                </li>
            
            </div>
        </ul>
    </form>
</div> <!-- .slides-wrapper -->
<div class="no-slides-found" ng-if="mc.noContentFound">
    <span>no slides found</span>
    <span ng-if="mc.slideMonth !== ''">for {{ mc.slideMonth }} {{ mc.slideYear }}</span>
</div>
