<div
    class="slides-wrapper container-fluid"
    ng-class="{'admin-navbar-showing': mc.userIsAuthentic}"
    ng-if="!mc.noContentFound"

    infinite-scroll="mc.doScroll()"
    infinite-scroll-distance="1"
    infinite-scroll-disabled="mc.disableScroll">
    <!-- <ul class="row"> -->
    <!--     <li class="slide-tile col-xs-12" ng-repeat="s in mc.allSlides">{{ s.pub_date }}</li> -->
    <!-- </ul> -->
    <ul class="row"
        ng-repeat="group in mc.orderedSlides">
        <li class="slide-header col-xs-12">{{ group.month | capitalize }} {{ group.year }}</li>
        <li
            class="col-xs-6 col-sm-4 col-md-3 slide-tile"
            ng-repeat="slide in group.monthsSlides">
            <div class="date">{{ slide.displayDate }} </div>
            <div class="image-wrapper">
                <!-- <img -->
                <!--     fullscreen-image -->
                <!--     check-orientation -->
                <!--     class="img-rounded" -->
                <!--     ng-src="http://levsdelight.s3.amazonaws.com/img/{{ slide.pictureLocation }}" alt=""> -->
            </div>
            <div class="title">{{ slide.title }}</div>
            <div class="desc hidden-xs">{{ slide.desc }}</div>
        </li>
    </ul>
</div> <!-- .slides-wrapper -->
<div class="no-slides-found" ng-if="mc.noContentFound">
    <span>no slides found</span>
    <span ng-if="mc.slideMonth !== ''">for {{ mc.slideMonth }} {{ mc.slideYear }}</span>
</div>
