<nav>
    <ul id="menu">
        <li><a href="#">Projects</a>
            <ul>
                <li><a href="/slideshow/2010/buildingOne">Building a Building</a></li>
                <li><a href="/slideshow/2012/coopOne">Chicken Coop One</a></li>
                <li><a href="/slideshow/2012/coopTwo">Chicken Coop Two</a></li>
                <li><a href="/slideshow/2012/fence">Building a Fence</a></li>
                <li><a href="/slideshow/2012/coon">We got that Coon</a></li>
            </ul>
        </li>
        <li><a href="#">2011</a>
            <ul>
                <li><a href="/slideshow/2011/november">November</a></li>
            </ul>
        </li>
        <li><a href="#">2012</a>
            <ul>
                <li><a href="/slideshow/2012/january">January</a></li>
                <li><a href="/slideshow/2012/february">February</a></li>
                <li><a href="/slideshow/2012/march">March</a></li>
                <li><a href="/slideshow/2012/april">April</a></li>
                <li><a href="/slideshow/2012/may">May</a></li>
                <li><a href="/slideshow/2012/june">June</a></li>
                <li><a href="/slideshow/2012/july">July</a></li>
                <li><a href="/slideshow/2012/august">August</a></li>
                <li><a href="/slideshow/2012/september">September</a></li>
                <li><a href="/slideshow/2012/october">October</a></li>
                <li><a href="/slideshow/2012/november">November</a></li>
                <li><a href="/slideshow/2012/december">December</a></li>
            </ul>
        </li>
        <li><a href="#">2013</a>
            <ul>
                <li><a href="/slideshow/2013/january">January</a></li>
                <li><a href="/slideshow/2013/february">February</a></li>
                <li><a href="/slideshow/2013/march">March</a></li>
                <li><a href="/slideshow/2013/april">April</a></li>
                <li><a href="/slideshow/2013/may">May</a></li>
                <li><a href="/slideshow/2013/june">June</a></li>
            </ul>
        </li>
        <li><a href="#">2014</a>
            <ul>
                <li><a href="/slideshow/2014/january">January</a></li>
                <li><a href="/slideshow/2014/february">February</a></li>
                <li><a href="/slideshow/2014/march">March</a></li>
                <li><a href="/slideshow/2014/april">April</a></li>
                <li><a href="/slideshow/2014/may">May</a></li>
                <li><a href="/slideshow/2014/june">June</a></li>
            </ul>
        </li>
    </ul>
</nav>
