<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header logo">
            <h2 ui-sref="levs-main" class="hidden-xs hidden-sm">Llamas On The Loose Farm</h2>
            <h2 ui-sref="levs-main" class="hidden-lg hidden-md">L3</h2>
            <h3 class="login" ng-if="!nav.userIsAuthentic" ng-click="nav.openLoginModal()">by Jason and Natty</h3>
            <h3 ng-if="nav.userIsAuthentic">by Jason and Natty</h3>
            
            <button
                type="button" class="navbar-toggle collapsed"
                ng-click="nav.navCollapsed = !nav.navCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" collapse="nav.navCollapsed">
            <ul class="nav navbar-nav navbar-right main-navigation">
                <li
                    class="dropdown"
                    dropdown
                    on-toggle="toggled(open)"
                    ng-repeat="years in nav.groupedMonthList">
                    <a href="#" class="dropdown-toggle" dropdown-toggle>{{ years.name }}</a>
                    <ul class="dropdown-menu month-dropdown" role="menu">
                        <li ng-repeat="month in years.list">
                            <a ui-sref="slideshow({year: month.year, month: month.month})">
                                {{ month.month }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav
    ng-show="nav.userIsAuthentic"
    class="navbar navbar-default navbar-fixed-top admin-navbar">
    <div class="container-fluid">
        <div class="left-block pull-left">
            <p class="navbar-text">Greetings, {{ nav.theSetUser }}</p>
            <button
                ng-if="!nav.arrange"
                ng-disabled="nav.edit"
                type="button"
                ng-click="nav.toggleArrange()"
                class="btn btn-primary arrange">
                Arrange
            </button>
            <button
                ng-if="nav.arrange"
                type="button"
                ng-click="nav.toggleArrange()"
                class="btn btn-default arrange">
                Done
            </button>
            <button
                ng-if="!nav.edit"
                ng-disabled="nav.arrange"
                type="button"
                ng-click="nav.toggleEdit()"
                class="btn btn-info arrange">
                Edit
            </button>
            <button
                ng-if="nav.edit"
                type="button"
                ng-click="nav.toggleEdit()"
                class="btn btn-info arrange">
                Done
            </button>
        </div>
        <div class="right-block pull-right">
            <button
                type="button"
                class="btn btn-default navbar-btn"
                ng-click="nav.logout()">
                Logout
            </button>
        
        </div>
    </div>
</nav>
